@import "bourbon";
@import "neat";
@import "gh-utilities";

.card-field {
    @include type(16px, false);
    background-color: white;
    border-width: 1px;
    border-color: rgb(235,235,235);
    border-style: solid;
    padding: 10px 20px 10px 10px;    
    outline: none; 

    &__custom {
        border: none;
        display: block;
        outline: none;
        width: 100%;

        &::-webkit-input-placeholder {
            color: #cccccc;
        }
    }

    &__number {
        padding: 10px 20px 10px 45px;  
        position: relative;  
    }

    &__brand {
        left: 10px;
        position: absolute;
        width: 30px;
    }

    &__bottom-container {
        transition: max-height 0.2s ease;
        max-height: 0;
        overflow: hidden;

        &--active {
            max-height: 100px;
        }
    }
}
