@import "bourbon";
@import "neat";
@import "gh-utilities";

.card {
    &__container {
        background-color: color("grey");
        overflow: hidden;
        margin-top: 20px;
    }

    &__inner {
        margin: 20px 0;
    }
}