@import "bourbon";
@import "neat";
@import "gh-utilities";

.about{ 
    &__wrapper {
        background-color: color("grey");
    }

    &__first {
        margin-top: 60px;
    }

    &__section {
        text-align: center;
    }

    &__title {
        @include type(32px);
        color: color("brand-primary");
    }

    &__statement {
        @include type(16px);
        font-family: "Akkurat-mono", monospace, sans-serif;
        font-weight: bold;
    }

    &__body {
        @include type(14px);
        font-family: "Akkurat-mono", monospace, sans-serif;
        margin: 40px 0;
        padding: 0 20px;
    }

    &__cartoon-head {
        display: inline-block;
        width: 125px;
    }

    &__line {
        @include size(100%, 10px);
        background: url("../assets/gethappy-line.svg") no-repeat center center;
        background-size: auto 100%;
    }
}
