/.vscode
/.env
/.idea
/package-lock.json
/composer.json
/composer.lock
/rsync-exclude.txt
/rsync.sh
/config/license.key
/vendor
/storage
.DS_Store
/node_modules
/public/dist
/public/images
/templates/_dist