@import "bourbon";
@import "neat";
@import "gh-utilities";

.cart-item {
    background-color: color("grey");
    padding: 20px 0;

    &__placeholder {
        @include size(100%, 200px);
        background-color: white;
    }

    &__description {
        @include type(14px);
        font-family: "Akkurat-mono", monospace, sans-serif;
    }

    &__entries,
    &__price {
        @include type(14px);
        font-weight: bold;
    }

    &__price {
        text-align: right;
    }

    &__title {
        @include type(16px);
        font-weight: 600;
        margin: 0 0 40px;
    }
    
}