@import "bourbon";
@import "neat";
@import "gh-utilities";

.checkout-address {
    &__container {
        margin: 40px 0;
    }

    &__inner {
        &:before,
        &:after {
            @include size(100%, 10px);
            background: url("../assets/gethappy-line.svg") no-repeat center center;
            background-size: auto 50%;
            content: "";
            display: block;
        }
        
        &:before {
            margin-bottom: 20px;
        }

        &:after {
            margin-top: 20px;
        }
    }

    &__title {
        @include type(14px);
        color: color("brand-primary");
        margin-top: 0;
        text-transform: uppercase;
    }

    &__empty {
        @include type(14px);
        color: #90140A;
    }
}

.checkout-address__container {
    .address-card {
        margin: 0;
    }
}