@import "bourbon";
@import "neat";
@import "gh-utilities";

.header-container {
    @include size(100%, 60px);
    position: absolute;
    top: 0;
}

.header__container-inner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 20px;
}

.header__icon {
    @include size(35px);
    border-radius: 50%;

    &--info {
        background: url("../../../assets/icons/info.svg") center center no-repeat;
        background-color: white;
        background-size: 7px;
        filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.2));
    }

    &--logo {
        background: url("../../../assets/icons/logo.svg") center center no-repeat;
        background-color: #FFFF00;
        background-size: 20px;
    }

    &--user {
        background: url("../../../assets/icons/user.svg") center center no-repeat;
        background-color: white;
        background-size: 20px;
        filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.2));
    }
}

.header__icon-link {
    @include size(100%);
    display: block;
}
