@import "bourbon";
@import "neat";
@import "gh-utilities";

.header-container {
    @include size(100%, 60px);
    position: absolute;
    top: 0;
    z-index: 999;
}

.header__container-inner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 20px;
}

.header__icon {
    @include size(35px);
    border-radius: 50%;

    &--info {
        background: url($cloudfront + "icon-about-blue.svg") center center no-repeat;
        background-size: 40px;
    }

    &--info-yellow {
        background: url($cloudfront + "icon-about-yellow.svg") center center no-repeat;
        background-size: 40px;
    }

    &--logo {
        background: url($cloudfront + "icon-home-yellow.svg") center center no-repeat;
        background-size: 40px;
    }

    &--logo-return {
        background: url($cloudfront + "icon-home-blue.svg") center center no-repeat;
        background-size: 40px;
    }

    &--user {
        background: url($cloudfront + "icon-user-blue.svg") center center no-repeat;
        background-size: 40px;
    }

    &--user-yellow {
        background: url($cloudfront + "icon-user-yellow.svg") center center no-repeat;
        background-size: 40px;
    }
}

.header__icon-link {
    @include size(100%);
    display: block;
}
