@import "bourbon";
@import "neat";
@import "gh-utilities";

.app__slide{ 
    transition: transform .2s ease;

    &--right {
        &-enter {
            transform: translate(-100%, 0);
        }

        &-enter-active {
            transform: translate(0%, 0);
        }

        &-exit {
            transform: translate(0, 0);
        }

        &-exit-active {
            transform: translate(100%, 0);
        }
    }

    &--left {
        &-enter {
            transform: translate(100%, 0);
        }

        &-enter-active {
            transform: translate(0%, 0);
        }

        &-exit {
            transform: translate(0, 0);
        }

        &-exit-active {
            transform: translate(-100%, 0);
        }
    }
}

.app__swoop {
    transition: transform .2s ease;
    z-index: 500;

    &--down {
        &-enter {
            transform: translate3d(0, -100%, 0);
        }

        &-enter-active {
            transform: translate3d(0, 0%, 0);
        }
    }

    &--up {
        &-exit {
            transform: translate3d(0, 0%, 0);
        }

        &-exit-active {
            transform: translate3d(0, -100%, 0);
        }
    }
}