@import "bourbon";
@import "neat";
@import "gh-utilities";

.form-text {
    @include size(100%, auto);
    @include type(16px, false);
    padding: 10px;
    outline: none;
    border-bottom-width: 1px;
    border-color: rgb(235,235,235);
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-top-width: 0;
}
