@import "bourbon";
@import "neat";
@import "gh-utilities";

.form-field { 
    @include col-selectors();
    &__wrapper {
        margin-bottom: 16px;
        text-align: left;
    }

    &__inner {
        position: relative;
    }
}
