@import "bourbon";
@import "neat";
@import "gh-utilities";

.loading-interstitial {
    &__wrapper {
        @include size(100%);
        background: rgba(255,255,255,0.8);
        display: none;
        left: 0;
        opacity: 1;
        position: fixed;
        top: 0;
        z-index: 1000;
        transition: opacity .2s ease;

        align-items: center;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    &--active {
        display: flex;
    }

    &--solid {
        background: rgba(255,255,255,1);
    }

    &__prompt {
        color: color("vibrant-blue");
    }

    &__logo {
        fill: color("brand-primary");
        width: 40px;

        &--left,
        &--right,
        &--nose,
        &--mouth{
            animation-iteration-count: infinite;
            animation-duration: 2s;
            opacity: 0;
        }

        &--left {
            animation-name: loading-interstitial__logoLeftIn;
            animation-duration: 2s;
        }

        &--right {
            animation-name: loading-interstitial__logoRightIn;
            animation-duration: 2s;
        }

        &--nose {
            animation-name: loading-interstitial__logoNoseIn;
            animation-duration: 2s;
        }

        &--mouth{
            animation-name: loading-interstitial__logoMouthIn;
            animation-duration: 2s;
        }

    }

    &-exit {
        &-active {
            opacity: 0;
        }
    }


}

@keyframes loading-interstitial__logoLeftIn {
    0% {
        opacity: 0;
    }
  
    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
  }

@keyframes loading-interstitial__logoRightIn {
    0% {
        opacity: 0;
    }
  
    10% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
  }

  @keyframes loading-interstitial__logoNoseIn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
  }

  @keyframes loading-interstitial__logoMouthIn {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    80% {
        opacity: 1;
        
    }

    100% {
        opacity: 0;
    }
  }