@import "bourbon";
@import "neat";
@import "gh-utilities";

.order-view {
    @include type(16px);
    text-align: center;
    
    &__date {
        font-family: "Akkurat-mono", monospace, sans-serif;
        margin-top: 20px;
    }
    
    &__number {
        color: #a1a4a6;
    }

    &__header {
        @include type(16px);
        background-color: #f8f8f8;
        font-weight: normal;
        margin-bottom: 20px;
        padding: 6px 20px;
    }

    &__p {
        margin: 0;
    }

    &__module {
        text-align: left;
    }
}