@import "bourbon";
@import "neat";
@import 'gh-utilities';

@import "_layouts/_base";
@import "_layouts/_section";

@include font-face(
  "Brandon-grotesque",
  "../assets/fonts/brandon_reg-webfont",
  ( "eot", "ttf", "woff2", "woff", "svg")
) {
  font-style: normal;
  font-weight: 400;
}

@include font-face(
  "Brandon-grotesque",
  "../assets/fonts/brandon_thin-webfont",
  ( "eot", "ttf", "woff2", "woff", "svg")
) {
  font-weight: 300;
}

@include font-face(
  "Brandon-grotesque",
  "../assets/fonts/brandon_med-webfont",
  ( "eot", "ttf", "woff2", "woff", "svg")
) {
  font-style: bold;
  font-weight: 500;
}

@include font-face(
  "Brandon-grotesque",
  "../assets/fonts/brandon_blk-webfont",
  ( "eot", "ttf", "woff2", "woff", "svg")
) {
  font-weight: 600;
}

@include font-face(
  "Akkurat-mono",
  "../assets/fonts/Akkurat-Mono",
  ( "ttf" )
) {
  font-style: normal;
  font-weight: 400;
}

@include font-face(
  "Akkurat-normal",
  "../assets/fonts/Akkurat-Normal",
  ( "ttf" )
) {
  font-style: normal;
  font-weight: 400;
}

@include font-face(
  "Akkurat-bold",
  "../assets/fonts/Akkurat-Bold",
  ( "ttf" )
) {
  font-style: normal;
  font-weight: 400;
}

@include font-face(
  "Rustico",
  "../assets/fonts/rustico-regular-webfont",
  ( "ttf", "woff2", "woff")
) {
  font-style: normal;
  font-weight: 400;
}

* {
    box-sizing: border-box;
}


html {
    @include type(16px, false);
    font-family: "Brandon-grotesque", arial;

    @include breakpoint("s") {
        @include type(16px, false);
    }
}
h1 {
    @include type(48px);
}