@import "bourbon";
@import "neat";
@import "gh-utilities";

.share {
    &__wrapper {
        @include size(300px, auto);
        display: flex;
        justify-content: space-between;
        margin: 0 auto 20px auto;
    }

    &__icon {
        @include size(40px);

        &--fb {
            @include size(20px);
        }
    }

    &__image {
        width: 100%;
    }
}