.base {
    &__expand {
        @include size(100%);    
    }

    &__abs {
        position: absolute;
        left: 0;
        top: 0;
    }

    &__narrow {
        margin: 0 auto;
        max-width: 414px;
        width: 100%;
    }

    &__md-narrow {
        margin: 0 auto;
        max-width: 650px;
        width: 100%;
    }

    &__lg-narrow {
        margin: 0 auto;
        max-width: 992px;
        width: 100%;
    }

    &__scroll {
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

    &__withNav {
        padding-top: 60px;
    }
    
    &__pad {
        padding: 0 10px;
        @media (min-width: map-get($breakpoints, "s")) {
            padding: 0 20px;
        }
    }

    &__margin-top {
        margin-top: 20px;
    }
}
