{% extends "_layouts/default" %}
{% includeJsFile "/dist/js/login-form.bundle.js" %}
{% includeCssFile "/dist/css/login-form.bundle.css" %}

{% set token %}
    window.csrfTokenValue = "{{ craft.app.request.csrfToken }}";
{% endset %}
{% includeJs token first %}

{% block main %}
<h2>Login</h2>
<div id="loginForm"></div>
{% if errorMessage is defined %}
    <p>{{ errorMessage }}</p>
{% endif %}
<h2>Create new account</h2>
<div id="newUserForm"></div>
{% endblock %}