@import "bourbon";
@import "neat";
@import "gh-utilities";

.level-button {
    @include type(18px);
    color: color("brand-primary");
    display: block;
    font-weight: 500;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;

    &::after {
        @include size(20px, 100%);
        background: url($cloudfront + "arrow.svg") right center no-repeat;
        content: "";
        display: block;
        position: absolute;
        right: 10px;
        top: 0;
    }

    &__wrapper {
        border-top: 1px solid color("brand-primary");

        &:last-child {
            border-bottom: 1px solid color("brand-primary");
        }
        
    }
}