@import "bourbon";
@import "neat";
@import "gh-utilities";

.footer {
    &--grey {
        background-color: #efefef;
    }
    &__wrapper {
        padding: 40px 0;
        text-align: center;
    }
}