@import "bourbon";
@import "neat";
@import "gh-utilities";

.footer {
    &--grey {
        background-color: #efefef;
    }
    &__wrapper {
        padding: 40px 0;
        text-align: center;
    }

    &__logo {
        margin-bottom: 10px;
    }

    &__copyright {
        @include type(12px);
        font-family: "Akkurat-mono", monospace, sans-serif;
    }
}