@import "bourbon";
@import "neat";
@import "gh-utilities";

.footer {
    &--grey {
        background-color: #efefef;
    }
    &__wrapper {
        color: color("brand-primary");
        padding: 40px 0;
        text-align: center;
    }

    &__logo {
        margin-bottom: 0;
    }

    &__copyright {
        @include type(12px);
        font-family: "Akkurat-mono", monospace, sans-serif;
    }
    
    &__title {
        @include type(18px);
        font-weight: 600;
        margin: 0;
        text-transform: uppercase;
    }

    &__subtitle {
        @include type(16px);
        font-family: "Akkurat-mono", monospace, sans-serif;
        margin-bottom: 20px;
        margin-top: 0;
    }

    &-newsletter__wrapper {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}