@import "bourbon";
@import "neat";
@import "gh-utilities";

.forgot-password {

    &__wrapper {
        color: color("brand-primary");
        text-align: center;
    }

    &__link {
        color: color("brand-primary");
    }
}
