@import "bourbon";
@import "neat";
@import "gh-utilities";

.forgot-password {

    &__wrapper {
        @include type(14px);
        color: color("brand-primary");
        font-family: "Akkurat-mono", monospace, sans-serif;
        margin: 40px 0;
        text-align: center;
    }

    &__link {
        color: color("brand-primary");
    }
}
