{# Tell the browser to cache this page for 30 days #}
{% set expiry = now|date_modify('+30 days') %}
{% header "Cache-Control: max-age=" ~ expiry.timestamp %}
{% header "Pragma: cache" %}
{% header "Expires: " ~ expiry|date('D, d M Y H:i:s', 'GMT') ~ " GMT" %}

{% set hasSystemIcon = craft.rebrand.isIconUploaded %}
<!DOCTYPE html>
<html id="Gethappy" class="base__expand" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ "Craft Commerce"|t }}</title>
        {% include "_includes/meta" %}
        {% include "_includes/globals" %}
        {% if hasSystemIcon %}
            <link rel="icon" type="image/png" sizes="32x32" href="{{ craft.rebrand.icon.url }}">
        {% endif %}
    </head>
    <body class="base__expand">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% block app %}{% endblock %}
    </body>
</html>