{% extends "_layouts/boilerplate" %}

{% includeJsFile siteUrl ~ "/dist/js/app.bundle.js" %}
{% includeCssFile siteUrl ~ "/dist/css/app.bundle.css" %}

{% block app %}
<div id="app" class="base__expand">
    <main class="base__expand base__withNav">
        {% include "_includes/header" %}

        <div class="base__expand base__scroll">
        {% block main %}
            <p>Empty</p>
        {% endblock %}
            {% include "_includes/bottom" %}
        </div>
    </div>
</div>
{% endblock %}