{% extends "_layouts/boilerplate" %}

{% includeJsFile siteUrl ~ "/dist/js/app-react.bundle.js" %}
{% includeCssFile siteUrl ~ "/dist/css/app-react.bundle.css" %}

{% block app %}
<div id="app" class="base__expand">

</div>
{% endblock %}