{% extends "_dist/index.boilerplate" %}

{% if product is defined and product.title %}
    {% set title = product.title %}
{% endif %}

{% if product is defined and product.experienceFeaturedDescription %}
    {% set description = product.experienceFeaturedDescription %}
{% endif %}

{% if product is defined and product.experienceFeaturedImage %}
    {% set image = product.experienceFeaturedImage.first().url %}
{% endif %}

{% set token %}
    window.csrfTokenValue = "{{ craft.app.request.csrfToken }}";
    window.donateRedirect = "{{ '/checkout'|hash }}";
    window.loggedIn = {{ currentUser ? "true" : "false" }};
{% endset %}
{% includeJs token first %}