@import "bourbon";
@import "neat";
@import "gh-utilities";

.btn-primary {
    @include type(20px);
    background-color: color("brand-secondary");
    border-radius: 26px;
    box-shadow: 0 2px 4px #9B9B9B;
    cursor: pointer;
    font-weight: 600;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
}