@import "bourbon";
@import "neat";
@import "gh-utilities";

.btn-primary {
    @include type(16px);
    @include size(100%, auto);
    background-color: color("vibrant-blue");
    border: 0;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    outline: 0;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    &--vibrant-blue {
        color: white;
        background-color: color("vibrant-blue");
    }

    &--vibrant-blue-outline {
        color: color("vibrant-blue");
        background-color: transparent;
        border: 5px solid color("vibrant-blue");
    }
}