@import "bourbon";
@import "neat";
@import "gh-utilities";

.btn-primary {
    @include type(16px);
    @include size(100%, auto);
    background-color: color("brand-secondary");
    border: 0;
    border-radius: 26px;
    box-shadow: 0 2px 4px #9B9B9B;
    cursor: pointer;
    font-weight: 600;
    outline: 0;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    &--blue {
        color: color("brand-secondary");
        background-color: color("brand-primary");
    }

    &--blue-outline {
        color: color("brand-primary");
        background-color: transparent;
        border: 1px solid color("brand-primary");
        box-shadow: none;
    }
}