@import "bourbon";
@import "neat";
@import "gh-utilities";

.experience-video {

    &__wrapper {
        position: relative;
    }

    &__play-container {
        @include size(100%);
        position: absolute;
        align-items: center;
        display: flex;
    }

    &__play {
        @include size(80px);
        margin: 0 auto;
    }

    &__tag {
        @include size(100%, auto);
    }

    &__thumb {
        @include size(100%, auto);
        display: block;
    }

    &__close {
        @include size(30px);
        border-radius: 50%;
        background: white;
        box-shadow: 1px 1px 5px grey;
        position: absolute;
        bottom: -12px;
        right: 20px;
        cursor: pointer;
    }

    &__close-x {
        @include size(60%);
        margin: 0 auto;
        position: relative;
        display: block;
        top: 6px;
    }
}