@import "bourbon";
@import "neat";
@import "gh-utilities";

.experience-video {

    &__wrapper {
        position: relative;
        padding-bottom: 56.25%;
    }

    &__play-container {
        @include size(100%);
        position: absolute;
        align-items: center;
        display: flex;
    }

    &__play {
        @include size(80px);
        display: block;
        margin: 0 auto;
        z-index: 999;
    }

    &__tag {
        @include size(100%, auto);
        display: block;
        position: absolute;
    }

    &__thumb {
        @include size(100%, auto);
        display: block;
    }
}