    <div class="footer">
        <p class="footer-text"><a href="" class="footer-link">Terms & Conditions</a>&nbsp;•&nbsp;<a href="" class="footer-link">Faqs</a></p>
        <div>
            <img class="social-icon" src="https://d3c1139e5imjli.cloudfront.net/ui/fb-social.jpg">
            <img class="social-icon" src="https://d3c1139e5imjli.cloudfront.net/ui/insta-social.jpg">
            <img class="social-icon" src="https://d3c1139e5imjli.cloudfront.net/ui/twitter-social.jpg">
        </div>
        <p class="footer-text">Copyright 2019 Get Happy Ltd. All rights reserved.<br>We are located at 
                111 Singapore St, Singapore</p>
        <div>
            <img style="width: 100px; margin: 10px auto 0;" src="https://d3c1139e5imjli.cloudfront.net/ui/logo-full-navy-1.jpg" />
        </div>
    </div>

</div>
        
</body>
</html>

