@import "bourbon";
@import "neat";
@import "gh-utilities";

.donation-tier {
    background: white;
    padding: 20px 10px;
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &__wrapper {
        background: color("grey");
    }

    &__main-title {
        @include type(28px);
        color: color("brand-primary");
        font-weight: 600;
        margin: 40px 0;
        text-align: center;
        text-transform: uppercase;
    }

    &__title {
        @include type(16px);
        color: color("vibrant-blue");
        font-family: "Rustico", monospace, sans-serif;
        font-weight: normal;
        margin: 0 0 10px;
    }

    &__description {
        @include type(14px);
        color: color("brand-primary");
        font-family: "Akkurat-mono", monospace, sans-serif;
    }

    &__entries-wrapper {
        font-weight: 600;
        margin: 0;
    }

    &__entries {
        @include type(18px);
        color: color("brand-primary");
        line-height: 1;
        display: block;
        text-transform: uppercase;
    }

    &__gift-image {
        @include size(100%, auto);
        display: block;
        margin: 20px 0;
    }

    &__gift-left {
        @include type(12px);
        color: grey;
        font-family: "Akkurat-mono", monospace, sans-serif;
        margin: 20px 0;
    }
}