@import "bourbon";
@import "neat";
@import "gh-utilities";

.featured-experiences { 
    text-align: center;

    &__header-top,
    &__header {
        color: color("brand-primary");
        font-family: "Rustico", monospace, sans-serif;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__header-top {
        @include type(28px);
    }

    &__header {
        @include type(54px);
        margin: 0;
        position: relative;

        &--word {
            display: block;
        }
    }

    &__line {
        @include size(260px, 10px);
        background: url("../assets/gethappy-line.svg") no-repeat 0 center;
        background-size: auto 100%;
        display: block;
        position: absolute;
        top: 40%;
        left: 50%;
        margin-left: -140px;
    }
}