@import "bourbon";
@import "neat";
@import "gh-utilities";

.featured-experience { 
    margin: 80px 0;
    position: relative;

    &__margin-small {
        margin: 60px 0;
    }

    &__top {
        @include size(80%, auto);
        margin: 0 auto;
        position: relative;
    }

    &__days {
        @include size(90px);
        background-color: color("brand-primary");
        border-radius: 50%;
        color: color("brand-secondary");
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: -20px;
        position: absolute;
        text-align: center;
        top: -20px;

        &--number {
            @include type(42px);
            font-weight: 600;
            line-height: 0.8;
        }

        &--left {
            @include type(16px);
            font-weight: 500;
        }
    }

    &__image {
        @include size(100%, auto);
        display: block;
    }

    &__title-wrapper {
        @include size(100%);
        align-items: center;
        display: flex;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
    }

    &__title {
        @include type(54px);
        color: color("brand-primary");
        font-family: "Rustico", monospace, sans-serif;
        font-weight: normal;
        margin: 40px 0 20px;
    }

    &__link {
        display: block;
        margin-top: 40px;
        text-decoration: none;
    }

    &__bottom {
        color: black;
        overflow: initial !important;
        position: relative;
    }

    &__description {
        @include type(16px);
        color: color("brand-primary");
        font-family: "Akkurat-mono", monospace, sans-serif;
        text-align: center;
    }

    &__more {
        text-align: right;
    }
}
