@import "bourbon";
@import "neat";
@import "gh-utilities";

.navigation-bar{
    
    &__wrapper {
        @include size(100%, 60px);
        position: absolute;
        top: 0;
        z-index: 1001;
    }

    &__wrapper-inner {
        height: 100%;
        position: relative;
        padding: 0 20px;
    }

    &__back {
        @include size(40px, 100%);
        background: url("../assets/arrow.svg") center center no-repeat;
        background-size: 10px;
        display: block;
        transform: scaleX(-1);
    }

    &__back-container {
        position: absolute;
        left: 0;
        top: 0;
    }

    &__element {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
        text-align: center;
    }

    &__title {
        @include type(20px);
        color: color("brand-primary");
        font-weight: 500;
    }
    
}