@import "bourbon";
@import "neat";
@import "gh-utilities";

.terms{ 
    &__body {
        @include type(14px);
        font-family: "Akkurat-mono", monospace, sans-serif;
        padding: 0 20px;
    }
}