@import "bourbon";
@import "neat";
@import "gh-utilities";

.user-signin {
    &__wrapper {
        margin: 40px 0;
    }

    &__link {
        text-decoration: none;
    }

    &__option {
        margin: 20px 0;
    }
}
