@import "bourbon";
@import "neat";
@import "gh-utilities";

.user-help {
    &__wrapper {
        background-color: color("grey");
        color: color("brand-primary");
        overflow: hidden;
    }

    &__cartoon {
        width: 70%;
    }

    &__question {
        @include type(16px);
        font-weight: 600;
        margin: 40px 0 40px 10%;
        text-transform: uppercase;
    }

    &__sub {
        @include type(14px);
        font-family: "Akkurat-mono", monospace, sans-serif;
    }
}