@import "bourbon";
@import "neat";
@import "gh-utilities";

.user {

    &__logout {
        background-color: color("grey");
        color: color("brand-primary");
        display: block;
        font-weight: 500;
        padding: 20px 0;
        text-align: center;
        text-decoration: none;
    }

    &__icon {
        padding: 10px 20px 10px 50px !important;

        &::before {
            @include size(20px, 100%);
            content: "";
            display: block;
            position: absolute;
            left: 10px;
            top: 0;
        }
    }

    &__icon--profile {
        &::before {
            background: url($cloudfront + "icon-profile.svg") left center no-repeat;
            background-size: 100%;
        }
    }

    &__icon--history {
        &::before {
            background: url($cloudfront + "icon-history.svg") left center no-repeat;
            background-size: 100%;
        }
    }

    &__icon--address {
        &::before {
            background: url($cloudfront + "icon-address.svg") left center no-repeat;
            background-size: 100%;
        }
    }

    &__icon--contact {
        &::before {
            background: url($cloudfront + "icon-contact.svg") left center no-repeat;
            background-size: 100%;
        }
    }

    &__icon--terms {
        &::before {
            background: url($cloudfront + "icon-terms.svg") left center no-repeat;
            background-size: 100%;
        }
    }
}
